/* General Style */


body {margin:0;padding:0; background:#06080b;}
a {outline: 0;}

header{
height: 210px; 

 background: url('/CakeCommunity/img/cake.png') no-repeat center;

}

header a{

color:#E4FAFD;

}

.commentbubble {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/CakeCommunity/img/comment_bubble2.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    height: 37px;
    margin-top: 0px;
    padding-top: 5px;
    text-align: center;
    width: 37px;
}

.tables {
    background-image: linear-gradient(bottom, rgb(174,199,229) 16%, rgb(86,110,134) 63%, rgb(174,199,229) 91%);
background-image: -o-linear-gradient(bottom, rgb(174,199,229) 16%, rgb(86,110,134) 63%, rgb(174,199,229) 91%);
background-image: -moz-linear-gradient(bottom, rgb(174,199,229) 16%, rgb(86,110,134) 63%, rgb(174,199,229) 91%);
background-image: -webkit-linear-gradient(bottom, rgb(174,199,229) 16%, rgb(86,110,134) 63%, rgb(174,199,229) 91%);
background-image: -ms-linear-gradient(bottom, rgb(174,199,229) 16%, rgb(86,110,134) 63%, rgb(174,199,229) 91%);
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9BD1F2', endColorstr='#34A0E3'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e6e6e6', endColorstr='#CCCCCC')"; /* IE8 */

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(174,199,229)),
	color-stop(0.63, rgb(86,110,134)),
	color-stop(0.91, rgb(174,199,229))
);
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
    height: 24px;
    line-height: 1.7em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
nav {
 color: #ffffff;
 padding-top: 152px;
 margin: auto;
 width: 662px;
}



#contentwrapper{
float: left;
width: 100%;
Save
 
}


#contentcolumn{
margin: 0 200px 0px 185px; 
border-top: 1px solid; border-color: #8C8C9C; font-size: 10pt;

}

#contentcolumn2{
margin-left: 180px; 
border-top: 1px solid; border-color: #8C8C9C; font-size: 10pt;

}


#leftcolumn{
float: left;
width: 185px; 
margin-left: -100%;
 font-size: 9pt;
 background: #0a1119;
-moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}





#rightcolumn{
float: left;
width: 200px;
margin-left: -200px;
font-size: 8pt;
background: #0a1119;
-moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}


.innertube{
margin: 12px;
margin-top: 0;
}




footer{
clear: left;
width: 100%;

text-align: center;

}
div.viewmenu{display: none; font-size: 8pt; margin-left:8px; }
.c_p{ background: url(/CakeCommunity/img/c_p.png); background-repeat:no-repeat; border:none; text-indent:12px; color:#fff;}


#search .searchQueryFl{width:120px;border:0px;

 padding: 3px; 
 font-size: 15px; 
 text-shadow: 0px 1px 0px #fff; 
 outline: none; 
 


 

 

padding-left:25px;
 
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px; 
 border-radius: 3px; 
 border: 1px solid #717171; 
 -webkit-box-shadow: 0px 0px 2px #000000; 
 -moz-box-shadow: 0px 0px 2px #000000; 
 box-shadow: 0px 0px 2px #000000; 
 
 -webkit-appearance: none;
 
 }
#search div {display: inline;}
#search {width:120px;
height:40px;

background-repeat:no-repeat; 
padding:0px;
margin:0px;
position:relative; }

input[value="Search"]{
border:0px; 
background-image: url("/CakeCommunity/img/search.png");
 background-repeat: no-repeat;
background-color:transparent; 
position:absolute; 
top:4px;
left:0px;
width:32px;
height:28px;
text-indent:-9999px;
cursor:pointer;

}
  div.view{display: none;}
.quote{display: inline; float:right }
  .commentadmin { display: inline; float:right }
.quoteMessage {Background: #161A1D url(/CakeCommunity/img/quote.png) no-repeat right top; border: 1px #fff dotted !important; border-left: 4px #8394B2 solid !important; border-top: 0 !important; padding: 3px;margin-left:30px;max-height:1000px !important; padding-right:20px;
overflow-x: hidden;}

a.admin:link {text-decoration:none; color:red;}

a:link {text-decoration:none; color:#E4FAFD;}
a:active {text-decoration:none; color:#E4FAFD;}
a:visited {text-decoration:none; color:#E4FAFD;}
a:hover {text-decoration:underline; color:#FFFFFF;}
.threadtop {padding:10px; background:#161A1D;}

.thread {padding:10px; background-color: #2D343A; width:100%; border-bottom: solid 1px #fff; height: 30px;}
td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#B8B7B6;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}


.eDetails {background:#1f2d3f;color:#B8B7B6;padding:3px;text-align:left;font-size:7pt;margin:3px}
.eBlock {background:#111a24; -moz-border-radius-topright: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; margin: 5px; padding: 3px; min-height: 120px}
.eTitle {height:35px; -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000; background:#1f2d3f; -moz-border-radius-topright: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-family:Verdana,Arial,Sans-Serif;font-size:14px;font-weight:bold;color:#E4FAFD; padding: 3px 3px 3px 55px; margin: 5px;}
.eMessage{text-align: left; clear: both; padding-top: 2px; padding-bottom: 2px; min-height: 160px;}

/* Comments Style */


.cMessage {background:#2D343A; border-top: 1px solid; border-color: #8C8C9C; min-height: 160px; font-size:8pt; }

div.popup {
  display: none;
  position: absolute;
  width: 280px;
  padding: 0px;
 
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

div2.popup {
  display: none;
  position: absolute;
  width: 280px;
  padding: 0px;
 
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

.cinfo {text-align:center;padding:5px;position: relative; float: left; letter-spacing: 0pt; word-spacing: 0pt;  clear:both; top:55px; width: 120px; min-height: 40px;}
.cname {background:#2D343A;text-align:center;padding:5px;position: relative; float: left; letter-spacing: 0pt; word-spacing: 0pt; width: 120px; height: 50px;}
.cname img {-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; max-height:80px; max-width:60px;}
.cpost {margin:8px; padding:5px; text-align: left; vertical-align: top; background:#151e22;-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; min-height: 150px; font-size:10pt !important; margin-left:130px;

}
.cpost li{margin-left:25px;}

#comment {display:none;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#7E91A2;font-weight:bold;padding-left:5px;background:#2D343A;}
.commTd2 {padding-bottom:2px;background:#2D343A;}
.commFl {width:100%;color:#B8B7B6;background:#0A1119;border:none;font-size: 10pt;}




/* Posts View */
.postTable {background:#2D343A}

/* Inbox View */
.inbox {background:#111a24; padding:5px;}



.com-tr {
 background-attachment: scroll;
 background-clip: border-box;
 background-color: transparent;
 background-image: url("/post-triangle2.png");
 background-origin: padding-box;
 background-position: 0 0;
 background-repeat: no-repeat;
 background-size: auto auto;
 height: 18px;
 left: -10px;
 overflow-x: hidden;
 overflow-y: hidden;
 position: absolute;
 top: 35px;
 width: 10px;
}

/* Post Form */


input[value=login], input[name=view], a.Buttons {font-size:8pt;
position:relative;
 
display:inline-block;

text-align:center;
cursor:pointer;
border:2px solid #999;
background-color:#666;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-opera-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px;
color:#fff;
font-weight:bold;
text-shadow:1px 1px 1px rgba(0,0,0,0.5);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8e909e), to(#4f5268));
background-image: -webkit-linear-gradient(top, #8e909e, #4f5268); background-image: -moz-linear-gradient(top, #8e909e, #4f5268); 
 background-image: -ms-linear-gradient(top, #8e909e, #4f5268); background-image: -o-linear-gradient(top, #8e909e, #4f5268);
 text-decoration:none;

 width:  80px;

}




input.codeButtons {font-size:8pt;background:#4f5268; color:#E4FAFD;
 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8e909e), to(#4f5268));
background-image: -webkit-linear-gradient(top, #8e909e, #4f5268); background-image: -moz-linear-gradient(top, #8e909e, #4f5268); 
 background-image: -ms-linear-gradient(top, #8e909e, #4f5268); background-image: -o-linear-gradient(top, #8e909e, #4f5268);}
.codeCloseAll {font-size:8pt;background: #2B2B30;color:#E4FAFD;border:1px outset #2B2B30;font-weight:bold;}

.hidden{
 display: none;

}

.ui-dialog
{
position:fixed;
padding-left:20px;
color:#000000;
 font-family: arial,verdana,sans-serif;
background-image: linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -o-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -moz-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -ms-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(165,172,179)),
	color-stop(0.55, rgb(151,170,184)),
	color-stop(0.87, rgb(175,183,199))
);
}

#userbar{
 display: block;
 font-family: arial,verdana,sans-serif;
background-image: linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -o-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -moz-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);
background-image: -ms-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(151,170,184) 55%, rgb(175,183,199) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(165,172,179)),
	color-stop(0.55, rgb(151,170,184)),
	color-stop(0.87, rgb(175,183,199))
);
 font-size: 10px;
 font-weight: bold; 
 width:100%;
 height:38px;
position: fixed;
 top 0;
 right:  0;
 border: inset 2px #000;
 margin-top: -24px;
  font-size: 12px;
  
 z-index: 999;
 
 
}

#userbar li {
 display: block;
 padding-left:10px;
  padding-right:10px;
   padding-top:2px;
  padding-bottom:2px;
 margin-top: 0px;
 float: left;
 color:#000;

 white-space: nowrap;
 width: auto;
 
 

}

#userbar li a {
 background-color: inherit;
 color: #000000;
 text-decoration: none;
 
 
}

#userbar li ul {
 background-color: #bbb;
 border: inset 1px #000;
 color:#00000;
 display: none;
 padding: 0px;
 position: absolute;
 width: 160px;
 

 
 
}

#userbar li:hover {
display: block;
padding-top 10px;
 background-image: linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -o-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -moz-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -ms-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(165,172,179)),
	color-stop(0.55, rgb(175,198,214)),
	color-stop(0.87, rgb(227,235,250))
);
 color:#00000;
 height: 20px;

  border: inset 1px #000;
  border-radius:5px;
-moz-border-radius:5px; 
 
  
}

#userbar  li:hover ul {
 display: block; text-decoration: none;
 
}

#userbar  li li {
 display: block;
 padding: 0px;
 width: 95%;
 margin:1px 1px 1px 1px; 
 
}

#userbar  li li:hover {
background-image: linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -o-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -moz-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);
background-image: -ms-linear-gradient(bottom, rgb(165,172,179) 19%, rgb(175,198,214) 55%, rgb(227,235,250) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(165,172,179)),
	color-stop(0.55, rgb(175,198,214)),
	color-stop(0.87, rgb(227,235,250))
);
 color:#00000;
 text-decoration: none;
 margin:1px 1px 1px 1px; 
 font-size: 11px;
 font-weight: bold;
 
 
 }

#userbar  li li a {
 background-color: inherit;
 border: 0px;
 color:#00000;
 display: block;
 font-size: 11px;
 font-weight: normal;
padding: 4px 10px 4px 10px;
}



nav ul {
 font-family: arial,verdana,sans-serif;
 font-size: 14px;
 font-weight: bold; 
}

nav li {
 display: block;
 float: left;
 padding: 4px 10px 4px 10px;
 white-space: nowrap;
 width: 82px;
 z-index: 52;
 

}

nav li a {
 background-color: inherit;
 color: #bbbbbb;
 text-decoration: none;
 
 
}

nav li ul {
 background-color: #090D11;
 border: 2px inset #FFFFFF;
 color: inherit;
 display: none;
 padding: 0px;
 position: absolute;
 width: 160px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 box-shadow: 2px 2px 2px #1F2D3F;
 
 
}

nav li:hover ul {
 display: block; text-decoration: none;
}

nav li li {
 display: block;
 padding: 0px;
 width: 150px;
 margin:1px 5px 1px 5px; 
 
}

nav li li:hover {
 background-color: #999999;
 color: inherit;
 text-decoration: none;
 margin:1px 5px 1px 5px; 
 font-size: 11px;
 font-weight: bold;
 box-shadow: 2px 2px 2px #000000;
 
 }

nav li li a {
 background-color: inherit;
 border: 0px;
 color: #FFFFFF;
 display: block;
 font-size: 11px;
 font-weight: normal;
padding: 4px 10px 4px 10px;
}

/** Paging **/
.paging {
 background:#0a1119;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #00000;
	color: #c73e14;
}
